{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="headline">
	<h1>About Michael</h1>
</header>

<section class="about-section">
	<img src="{% static 'img/michaelsusanto-profile.png' %}" alt="Michael's Profile Picture" class="prof-pic">
	<article>
		<h3>Greetings!</h3>
		<p>My name is Michael Susanto, i'm from Faculty of Computer Science,</p>
		<p>Universitas Indonesia.</p>

		<p>I started my programming career at St.Andrew Junior High School with</p>
		<p>Visual Basic 6.0 and design career at Sang Timur Senior High School.</p>
		<p>I've been studying web designing and web developing since my second</p>
		<p>semester in Universitas Indonesia.</p>

		<p>Beside programming, I usually play musical instruments to refresh my mind,</p>
		<p>and play badminton with friends to keep me healthy.</p>
	</article>		
</section>

{% endblock %}