{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Michael Susanto</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="navbar" id="nav">
		<a href="{% url 'michaelapp:index' %}" class="navbar-brand">
			<h2>Michael</h2>
		</a>
		<ul class="navbar-nav d-inline-block">
			<li class="nav-item d-inline-block">
				<a href="{% url 'michaelapp:index' %}" class="nav-link">Home</a>
			</li>
			<li class="nav-item d-inline-block">
				<a href="{% url 'michaelapp:portfolio' %}" class="nav-link">Portfolio</a>
			</li>
			<li class="nav-item d-inline-block">
				<a href="{% url 'michaelapp:about' %}" class="nav-link">About</a>
			</li>
			<li class="nav-item d-inline-block">
				<a href="{% url 'michaelapp:hireMe' %}" class="nav-link">Hire Me</a>
			</li>
		</ul>
	</nav>

	{% block content %}

	{% endblock %}

	<footer>
		<h3>Find me on</h3>		
		<ul class="contacts">
			<li class="contact">
				<a href="https://www.facebook.com/michael.s.155">
					<img src="{% static 'img/fb-logo.png' %}" alt="Facebook's Logo">
				</a>
			</li>
			<li class="contact">
				<a href="https://www.youtube.com/channel/UC5325r3vONhMKz9QTXlPm2g">
					<img src="{% static 'img/youtube-logo.png' %}" alt="Youtube's Logo">
				</a>
			</li>
			<li class="contact">
				<a href="https://github.com/michaelsusanto81">
					<img src="{% static 'img/github-logo.png' %}" alt="Github's Logo">
				</a>
			</li>
			<li class="contact">
				<a href="https://id.linkedin.com/in/michael-susanto-292671193?trk=people-guest_profile-result-card_result-card_full-click">
					<img src="{% static 'img/linkedin-logo.png' %}" alt="LinkedIn's Logo">
				</a>
			</li>
		</ul>
		<h5>© 2019 <a href="#nav">Michael Susanto</a>.</h5>
	</footer>

</body>
</html>