nav, header, section, footer {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	align-items: center;
	align-content: center;
	font-family: 'Ubuntu', sans-serif;
}

header {
	background-color: #D8FCA8;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	list-style-type: none;
}

footer {
	background-color: #D8FCA8;
	padding: 30px 0;
}

footer h3, footer h5 {
	color: #565656;
	font-weight: 500;
}

footer h5 {
	font-family: 'Berkshire Swash', cursive;
}

.navbar {
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 20px;
	background-color: #D8FCA8;
	font-weight: bold;
}

.navbar-brand {
	font-family: 'Berkshire Swash', cursive;
}

.nav-item {
	margin-left: 30px;
}

.bg-circle {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	align-content: center;
	text-align: center;
	width: 480px;
	height: 480px;
	border-radius: 100%;
	background-color: #8FA571;
	color: #EBEBEB;
	margin: 50px auto;
	transition: 1s;
}

.bg-circle h1 {
	padding-top: 200px;
	font-family: 'Berkshire Swash', cursive;
}

.intro {
	margin: 75px auto;
}

.prof-pic {
	width: 200px;
	border-radius: 100%;
}

.intro h3, .skills h3 {
	color: #8FA571;
	font-weight: 700;
	margin: 20px auto;
}

.skills {
	margin: 75px auto;
	display: flex;
	flex-flow: column wrap;
}

.skills img {
	width: 100px;
	margin-right: 10px;
}

.skills-layout {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.left-skills, .middle-skills, .right-skills {
	display: flex;
	flex-flow: column wrap;	
}

.skill {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 15px;
	font-family: 'Berkshire Swash', cursive;
	color: #555;
}

.contacts {
	display: flex;
	flex-flow: row wrap;
}

.contacts img {
	width: 40px;
}

.contact {
	margin: 10px 30px 20px;
}

.headline {
	display: flex;
	flex-flow: column wrap;
	padding: 70px 0;
	color: #555;
	transition: 1s;
}

.headline h1, .portfolio-section h2 {
	font-family: 'Berkshire Swash', cursive;
}

.portfolio-container, .portfolio-section {
	display: flex;
	flex-flow: column wrap;
	background-color: #f3fceb;
}

.portfolio-icon {
	width: 100px;
}

.portfolio-section {
	padding: 60px 0;
	color: #555;
}

.portfolio-content {
	display: flex;
	flex-flow: row wrap;
	margin: 10px 0;
}

.portfolio-text {
	display: flex;
	flex-flow: column wrap;
	margin-left: 20px;
}

.portfolio-text h3 {
	font-weight: bold;
}

.about-section {
	padding: 70px 0;
}

.about-section h3 {
	margin: 20px 0;
	font-size: 30px;
}

.about-section p {
	margin: 5px 0;
	font-size: 20px;
}

.email {
	border: 2px solid #D8FCA8;
	padding: 10px;
	margin-top: 20px;
	color: #8FA571;
	font-weight: 600;
}

.email:hover {
	background-color: #D8FCA8;
	transition: 0.5s;
}

@media screen and (max-width: 500px) {
	.nav-link {
		font-size: 16px;
	}

	.bg-circle {
		width: 360px;
		height: 360px;
	}

	.bg-circle h1 {
		padding-top: 140px;
	}

	.intro h4 {
		font-size: 22px;
	}

	.skill img {
		width: 80px;
	}

	.skill h2 {
		font-size: 20px;
	}

	.headline h1 {
		font-size: 30px;
	}

	.headline h2 {
		font-size: 25px;
	}

	.portfolio-container {
		padding: 0 20px;
	}

	.portfolio-content img {
		width: 70px;
	}

	.portfolio-content h3 {
		font-size: 20px;
	}

	.portfolio-content h4 {
		font-size: 18px;
	}

	.about-section {
		padding: 10px 30px;
	}
	.about-section h3 {
		font-size: 20px;
		font-weight: bold;
	}

	.about-section p {
		font-size: 16px;
	}
}

@media screen and (max-width: 375px) {
	.nav-link {
		font-size: 14px;
	}

	.bg-circle {
		width: 250px;
		height: 250px;
	}

	.bg-circle h1 {
		padding-top: 90px;
		font-size: 28px;
	}

	.bg-circle h3 {
		font-size: 25px;
	}

	.intro h4 {
		font-size: 22px;
	}

	.skill img {
		width: 80px;
	}

	.skill h2 {
		font-size: 20px;
	}

	.headline h1 {
		font-size: 30px;
	}

	.headline h2 {
		font-size: 25px;
	}

	.portfolio-container {
		padding: 0 20px;
	}

	.portfolio-content img {
		width: 70px;
	}

	.portfolio-content h3 {
		font-size: 20px;
	}

	.portfolio-content h4 {
		font-size: 18px;
	}

	.about-section {
		padding: 10px 30px;
	}
	.about-section h3 {
		font-size: 20px;
		font-weight: bold;
	}

	.about-section p {
		font-size: 16px;
	}

	footer h3 {
		font-size: 25px;
	}
	.contact img {
		width: 30px;
	}
}

@media screen and (max-width: 320px) {
	.nav-item {
		margin-left: 10px;
	}
	.nav-link {
		font-size: 14px;
	}

	.bg-circle {
		width: 250px;
		height: 250px;
	}

	.bg-circle h1 {
		padding-top: 90px;
		font-size: 28px;
	}

	.bg-circle h3 {
		font-size: 25px;
	}

	.intro h4 {
		font-size: 18px;
	}

	.skill img {
		width: 50px;
	}

	.skill h2 {
		font-size: 20px;
	}

	.headline h1 {
		font-size: 25px;
	}

	.headline h2 {
		font-size: 22px;
	}

	.portfolio-container {
		padding: 0 20px;
	}

	.portfolio-content img {
		width: 70px;
	}

	.portfolio-content h3 {
		font-size: 20px;
	}

	.portfolio-content h4 {
		font-size: 18px;
	}

	.about-section {
		padding: 10px 30px;
	}
	.about-section h3 {
		font-size: 20px;
		font-weight: bold;
	}

	.about-section p {
		font-size: 16px;
	}

	footer h3 {
		font-size: 22px;
	}

	.contact {
		margin: 10px 20px 20px;
	}
	.contact img {
		width: 30px;
	}
}